<h1>Photo#index</h1>
<p>Find me in app/views/photo/index.html.erb</p>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>image</th>
    <th>name</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>

<% @p.each do |p|%>

    <tr>
      <td><%= image_tag p.image_url(:thumb) if p.image? %></td>
      <td><%= p.image_identifier %></td>
      <td>adit</td>
    </tr>
<% end %>
  </tbody>
</table>
