<h1>Photo#new</h1>
<p>Find me in app/views/photo/new.html.erb</p>
<%= form_for @photo, :html => {:multipart => true}, :url => photo_create_path do |f| %>

    <p>
      <%= f.file_field :image %>
      <%= f.hidden_field(:image_cache) %>
      h
    </p>

    <p><%= f.submit %></p>
<% end %>